<section class="relative rounded-xl overflow-hidden cursor-pointer group">
    <img [src]="moviePosterURL ? 'https://image.tmdb.org/t/p/w500' + moviePosterURL : 'poster-not-found.png'"
        [alt]="movieName" class="w-full h-full object-cover"> <span
        class="z-20 opacity-0 group-hover:opacity-100 transition duration-600 absolute bottom-4 right-4 text-lg text-yellow-400 font-bold px-3 py-1 bg-black/75 rounded-md">
        ⭐ {{movieRating}}
    </span>
    <section class="absolute z-10 bg-black inset-0 opacity-0 hover:opacity-30 transition duration-400"></section>
</section>